@import "nav.css";
@import "fonts.css";
@import "colors.css";

body {
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.margin-auto {
    margin-right: auto;
    margin-left: auto;
    
}

.main-container {
    background-color: #FFFFFF;
    width: 70vw;
    padding: 5%;
}


.body-list {
    list-style: none;
    padding: 0;
    letter-spacing: 0.75;
}

.body-list-dotted{
    padding: 10px;
    margin-bottom: 5px;
}

.body-list-dotted > li {
    margin-bottom: 5px;
}

.body-box{
    padding: 8px;
    border: 2px solid #0fa976;
}

.container-heading {
    font-size: 20px;
    line-height: 24px;
}

.body-text{
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.25;
    font-family: 'AndaleMono';
}

.main-container-image{
    height: 55vh;
    width: inherit;
    margin: auto auto 25px auto;
}


/* MEDIA QUERIES */  
@media (min-width: 501px) and (max-width: 1200px) {

    .main-container-image{
        height: 80vh;
        width: inherit;
        margin: auto auto 25px auto;
    }

    .body-text{
        line-height: 16px;
        font-size: 13px;
        letter-spacing: 0.25;
        text-align: justify;
        text-justify: inter-word;
    }
}

@media (min-width: 1201px) {
    .main-container{
        width: 55vw;
    }

    .main-container-image{
        height: 80vh;
        width: inherit;
        margin: auto auto 25px auto;
    }

}
