.nav-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10vw 30px 10vw;
    position: relative;
}
.nav-mobile-logo{
    width: 20vw;
}
.nav-desktop {
    display: none;
}
/*     .nav-mobile-burguer{
        width: 40px;
        height: 40px;
    }
    .nav-desktop, .nav-mobile-menu, #mobile-menu-burguer-check {
        display: none;
    }
    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10vw 30px 10vw;
        position: relative;
    }
    .nav-mobile-logo{
        width: 20vw;
    }
    #mobile-menu-burguer-check:checked ~ .nav-mobile-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #692ba3;
        border-radius: 3px;
        margin-top: 37vh;
        margin-left: 60vw;
        transition: 1s;
    } */
  

/* TABLETS */  
@media (min-width: 501px) and (max-width: 1200px) {

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 10vw 30px 10vw;
        position: relative;
    }
    .nav-mobile-logo{
        width: 20vw;
    }
/*     .nav-desktop, .nav-mobile-menu, #mobile-menu-burguer-check {
        display: none;
    }
    .nav-mobile-logo{
        width: 20vw;
    }
    #mobile-menu-burguer-check:checked ~ .nav-mobile-menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        background-color: #692ba3;
        border-radius: 3px;
        margin-top: 37vh;
        margin-left: 60vw;
        transition: 1s;
    } */
}

/* DESKTOP */  

@media (min-width: 1201px) {

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
        justify-content: space-between;
        margin-top: 12vh;
        margin-bottom: 50px;
    }

    .nav-desktop-logo {
        width: 25vw;
        margin-left: 5vw;
    }

    .nav-desktop-menu-container{
        background-image: url("../assets/img/menu2.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 210px;
        width: 250px;
    }

    .nav-desktop-menu {
        display: flex;
        flex-direction: column;
        list-style: none;
        height: inherit;
        justify-content: space-between;
        padding: 0;
        margin-top: -18px;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.6;

    }
    .nav-desktop-menu > li > a {
        text-decoration: none;
        color: black;
    }
    .nav-desktop-menu-active {
        color: #692ba3 !important;
    }
}