.nav-desktop {
    display: none;
}

.center {
    align-items: center;
    justify-items: center;
    align-self: center;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.nav-mobile-logo{
    width: 55vw;    
}

.nav-menu-container{
    margin-top: 8vh;
    margin-bottom: 8vh;
 }

.nav-mobile-menu-bg {
    width: 100vw;
}

 .nav-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    width: 100vw;
    height: 31vh;
    padding: 0;
    margin-top: -34vh;
    font-size: 1em;
    line-height: 1.15em;
    letter-spacing: 0.1em;
}

.nav-menu-links > li > a {
    text-decoration: none;
}

/* TABLETS */  
@media (min-width: 501px) and (max-width: 1100px) {

    .nav-mobile-logo{
        width: 60vw;
    }

    .nav-menu-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        width: 100vw;
        height: 41vh;
        padding: 0;
        margin-top: -45vh;
        font-size: 1.8em;
        line-height: 1.15em;
        letter-spacing: 0.1em;
    }
    
}

/* DESKTOP */  

@media (min-width: 1101px) {

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin-top: 8vh;
    }
    .nav-desktop-logo {
        min-width: 300px;
        width: 25vw;
        height: 28vh;
        margin-left: 7vw;
    }
    .nav-menu-container{
        width: 20vw;
        height: 32vh;
     }
   
    .nav-desktop-menu-bg{
        height: 30vh;
        width: 20vw;
    }
    .nav-menu-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        height: 32vh;
        width: initial;
        padding: 0;
        margin-top: -34vh;
        font-size: 1.1em;
        line-height: 1.15em;
        letter-spacing: 0.1em;
    }
}