.nav-desktop {
    display: none;
}

.center {
    align-items: center;
    justify-items: center;
    align-self: center;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
}

.nav-mobile-logo{
    width: 55vw;   
}

.nav-menu-container{
    margin-top: 8vh;
    margin-bottom: 7vh;
 }

.nav-menu-container{
    display: grid;
    grid-template-areas: 'soloyo';
    width: 100vw;
    height: 270px;
}

.nav-mobile-menu-bg {
    grid-area: soloyo;
    width: 100vw;
    height: 240px;
}

.nav-menu-links{
    grid-area: soloyo;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
}

.nav-menu-links > li {
    margin-bottom: 50px;
}
.nav-menu-links > li > a {
    text-decoration: none;
}

/* TABLETS */  
@media (min-width: 501px) and (max-width: 1100px) {

/*     .nav-mobile-logo{
        width: 60vw;
    }

    .nav-menu-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        width: 100vw;
        height: 41vh;
        padding: 0;
        margin-top: -45vh;
        font-size: 1.8em;
        line-height: 1.15em;
        letter-spacing: 0.1em;
    } */
    
}

/* DESKTOP */  

@media (min-width: 1101px) {

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: flex;
        justify-content: space-between;
       /*  height: 25vh; */
       /*  align-items: center;
        align-content: center; */
        /* margin-top: 8vh; */
    }
    .nav-desktop-logo {
        min-width: 300px;
        width: 25vw;
        /* height: 25vh; */
        margin-left: 7vw;
    }
    .nav-menu-container{
        /* width: 216vw; */
        /* height: 300px; */
        /* margin-top: 8vh;
        margin-bottom: 2vh; */
     }

    .nav-desktop-menu-bg{
        width: 20vw;
        grid-area: soloyo;
        height: 220px;
    }
    .nav-menu-links {
        height: 220px;
        padding: 0;
        font-size: 1.15em;
        line-height: 0em;
        letter-spacing: 0.1em;
    }
    .nav-menu-links > li {
        margin-bottom: 60px;
    }
}